.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  &__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }
}
